*{
    margin:0;
    padding:0;
    box-sizing : border-box;
}
nav{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding:20px 100px;
}
.xyz{
    display : flex;
    justify-content : center ;
    align-items : center;
    min-height:80vh;
    padding:0 100px;
    gap:50px;
}
.main-text{
    max-width : 650px;
}
ul{
    display : flex;
    gap : 20px;
    align-items : center;
    list-style: none;
}
.human{
    display:flex;
    justify-content : center;
    gap : 40px;
    padding : 80px 100px;
}
.cyborg-img{
    width : 500px;
}
.main-text h1{
    font-size:60px;
    line-height:1.1;
}
.main-text p{
    margin-top:25px;
    font-size:22px;
    color:#666;
}
button{
    margin-top:35px;
    background:#00eaff;
    box-shadow:0 0 20px #00eaff;
}
.main-text button{
    margin-top:30px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#00eaff;
    cursor:pointer;
    font-size:18px;
}
.main-text button:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #00eaff;
}
body{
    background:#11183c;
    color:white;
}
.main-text p{
    color:#cbd5e1;
}
.card{
    width:300px;
    padding:40px;
    background:#0f1c4d;
    color:white;
    border-radius:20px;
    text-align:center;
}
.card h2{
    margin-bottom:20px;

}
.card p{
    margin:15px 0;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00eaff;
    transition:0.3s;
}
#future{
    text-align:center;
    padding:50px 100px;
}
.message{
    text-align:center;
    padding:100px;
}
footer{
    text-align:center;
    padding:30px;
    background:#020617;
}
.message button{
    margin-top:30px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#00eaff;
    cursor:pointer;
    font-size:18px;
}
.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:50px;
}
.main-img{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main-img::before{
    content:"";
    position: absolute;
    width: 450px;
    height: 450px;
    background:#00eaff;
    border-radius:50%;
    filter:blur(120px);
    opacity:0.3;
    z-index:-1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: glow 4s ease-in-out infinite;

}
@keyframes glow{
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        transform: translate(-50%, -50%) scale(1.1);
    
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}